@layer components {
  .btn {
    @apply px-6 py-2.5 text-lg rounded-lg shadow-2xl transition-all;

    &:hover {
      @apply scale-102 cursor-pointer;
    }

    &:active {
      @apply scale-95;
    }
  }

  .btn-blue,
  .create-column-btn {
    @apply text-white bg-(--color-light-blue);

    &:hover {
      @apply bg-(--color-dark-blue);
    }
  }

  .btn-white,
  .cancel-column-btn {
    @apply text-(--color-blue-gray) bg-white border border-(--color-blue-gray);

    &:hover {
      @apply text-(--color-dark-blue) border-(--color-dark-blue);
    }
  }

  .create-task-btn {
    @apply text-(--color-light-blue) bg-(--color-soft-blue) border border-transparent;

    &:hover {
      @apply text-(--color-dark-blue) border-(--color-light-blue) bg-white;
    }

    &:disabled {
      @apply text-(--color-blue-gray) border-(--color-blue-gray);

      &:hover {
        @apply bg-(--color-soft-blue) scale-100 cursor-not-allowed;
      }
    }
  }

  .column-menu-btn,
  .three-dot-btn,
  .task-menu-btn,
  .edit-btn,
  .detail-header-summary-icon,
  .task-detail-close-btn {
    @apply p-1 cursor-pointer rounded-full transition-all;

    &:hover {
      @apply bg-(--color-soft-blue);
    }
  }

  #cancel-rename-btn,
  #cancel-limit-btn,
  #close-detail-btn {
    @apply font-bold;
  }

  .dropdown-btn {
    @apply w-full text-left py-2 transition-all;

    &:hover {
      @apply cursor-pointer bg-(--color-light-gray);
    }

    &:active {
      @apply scale-99;
    }
  }

  .dropdown-btn--danger {
    @apply text-red-500;
  }

  .round-base-btn {
    @apply flex items-center justify-center rounded-full text-white font-medium cursor-pointer transition-all;
  }

  .more-indicator-btn {
    @apply w-8 h-8 text-xs bg-gray-400;

    &:hover {
      @apply bg-gray-500;
    }
  }

  .btn-danger {
    @apply text-white bg-red-500;

    &:hover {
      @apply bg-red-600;
    }
  }

  .btn-disabled {
    @apply text-gray-400 bg-gray-100 cursor-not-allowed shadow-none;

    &:hover {
      @apply scale-100 cursor-not-allowed bg-gray-100;
    }

    &:active {
      @apply scale-100;
    }
  }

  .avatar-normal {
    @apply bg-(--color-light-blue);

    &:hover {
      @apply ring-2 ring-blue-300;
    }
  }

  .avatar-owner {
    @apply bg-red-500;

    &:hover {
      @apply ring-2 ring-red-300;
    }
  }
}
