@layer components {
    .detail-header-summary {
        @apply flex items-center justify-between cursor-pointer list-none;
    }

    .detail-main {
        @apply flex items-start justify-between mt-4 px-3;
    }

    @media (max-width: 767px) {
        .detail-section {
            @apply relative;
        }

        .detail-main {
            @apply grid gap-3 absolute left-0 right-0 top-full mt-0 p-3 bg-white z-10 shadow-lg rounded-b-lg border-b border-b-(--color-light-gray);
            grid-template-columns: 1fr auto;
        }

        .detail-main > section:first-child {
            grid-row: 1;
            grid-column: 1;
        }

        .detail-main > .edit-btn {
            grid-row: 1;
            grid-column: 2;
            @apply self-start;
        }

        .detail-main > section:nth-child(2) {
            grid-row: 2;
            grid-column: 1 / -1;
        }
    }
}
