@layer components {
    .dialog {
        @apply fixed top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] rounded-xl p-6 w-auto shadow-xl;

        &::backdrop {
            @apply bg-black opacity-70 transition-opacity;
        }
    }
}