@layer components {
	.input-field {
    @apply flex items-center gap-2 w-full pb-2 mb-4 border-b-1 border-b-(--color-light-gray);
  }

  .rename-input, .limit-input {
    @apply flex justify-center items-center flex-grow;
  }
}