@layer {
    .board-columns-list {
        @apply flex gap-4 h-full overflow-x-auto;
    }

    .board-column {
        @apply flex flex-col max-h-full p-1 border border-(--color-light-gray) rounded-lg bg-(--color-soft-blue) shadow-lg;
    }

    .column-drop-zone {
        @apply w-2 h-full;
    }

    .board-columns.dragging .column-drop-zone {
        @apply bg-[rgba(0,0,255,0.1)];
    }

    .column-header {
        @apply py-2 px-4 border border-(--color-dark-blue) rounded-lg;
    }

    .task-list {
        @apply flex flex-col flex-1 overflow-y-auto;
    }

    .task-drop-zone {
        @apply w-full h-2;
    }

    .task-list.dragging .task-drop-zone {
        @apply bg-[rgba(0,0,255,0.1)];
    }
}