@layer {
    .board-columns-list {
        @apply flex gap-4 h-full overflow-x-auto;
    }

    .board-column, .add-column {
        @apply flex flex-col max-h-full p-1 border border-(--color-light-gray) rounded-lg bg-white shadow-(--shadow-large);
    }

    .column-drop-zone {
        @apply w-2 h-full;
    }

    .board-column.dragging .column-drop-zone {
        @apply bg-[rgba(0,0,255,0.1)];
    }

    .column-header {
        @apply py-2 px-4 border border-(--color-dark-blue) bg-(--color-soft-blue) shadow-(--shadow-large) rounded-lg;
    }

    .task-list {
        @apply flex flex-col flex-1 min-h-2 overflow-y-auto;
    }

    .task-drop-zone {
        @apply w-full h-2;
    }

    .task-list.dragging .task-drop-zone {
        @apply bg-[rgba(0,0,255,0.1)];
    }

    .task {
        @apply p-2 mb-2 border border-(--color-light-gray) rounded-lg bg-white shadow;
    }
}