/* import tailwind css */
@import "tailwindcss";

/* import default styles */
@import "./theme.css";
@import "./base.css";

/* import utility styles */
@import "./utilities.css";

/* import layout styles */
@import "./layouts/auth-layout.css";
@import "./layouts/app-layout.css";

/* import page styles */
@import "./pages/board.css";
@import "./pages/dashboard.css";
@import "./pages/profile.css";
@import "./pages/contacts.css";

/* import component styles */
@import "./components/form.css";
@import "./components/buttons.css";
@import "./components/inputs.css";
@import "./components/checkbox.css";
@import "./components/dialog.css";
@import "./components/dropdown.css";
@import "./components/detail.css";
@import "./components/toast.css";
@import "./components/member-select.css";
