@import "tailwindcss";
@import "./theme.css";
@import "./base.css";
@import "./components/buttons.css";
@import "./components/inputs.css";
@import "./components/checkbox.css";
@import "./components/dialog.css";
@import "./components/auth-layout.css";
@import "./components/app-layout.css";
