/* import tailwind css */
@import "tailwindcss";

/* import default styles */
@import "./theme.css";
@import "./base.css";

/* import layout styles */
@import "./layouts/auth-layout.css";
@import "./layouts/app-layout.css";

/* import component styles */
@import "./components/buttons.css";
@import "./components/inputs.css";
@import "./components/checkbox.css";
@import "./components/dialog.css";
