@import "tailwindcss";

@theme {
  --color-light-blue: #4589ff;
  --color-dark-blue: #005dff;
  --color-light-gray: #d1d1d1;
  --color-paceholder-gray: #a8a8a8;

  --shadow-large: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

@layer base {
  body,
  html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: var(--text-6xl);
    font-weight: var(--font-weight-extrabold);
    line-height: var(--text-base--line-height);
    margin: 0;
  }
  h2 {
    font-size: var(--text-4xl);
    font-weight: var(--font-weight-semibold);
    line-height: var(--text-sm--line-height--line-height);
    margin: 0;
  }
  h3 {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-normal);
    line-height: 0;
    margin: 0;
  }
}

@layer components {
  .icon {
    width: 95px;
    &.blue {
      color: var(--color-light-blue);
    }
  }

  .btn-blue {
    padding-inline: calc(var(--spacing) * 6);
    padding-block: calc(var(--spacing) * 2.5);
    font-size: var(--text-lg);
    color: var(--color-white);
    background-color: var(--color-light-blue);
    border-radius: var(--radius-lg);
    &:hover {
      cursor: pointer;
      background-color: var(--color-dark-blue);
    }
    &:active {
      transform: scale(0.95);
    }
  }

  .input-field {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--color-light-gray);
  }

  .checkboxItem {
    display: flex;
    align-items: center;
    column-gap: 4px;
    width: fit-content;
    line-height: 1;
    cursor: pointer;
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }

  .checkbox {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-light-blue);
    border-radius: 2px;
    cursor: pointer;
    &:checked {
      background-color: var(--color-light-blue);
      &::after {
        content: "";
        position: absolute;
        top: 5px;
        left: 3px;
        width: 12px;
        height: 6px;
        border-bottom: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
        transform: rotate(-45deg);
      }
    }
  }
}
