@import "tailwindcss";

@theme {
  --color-light-blue: #4589FF;
  --color-dark-blue: #005DFF;
  --color-light-gray: #D1D1D1;
  --color-paceholder-gray: #A8A8A8;

  --shadow-large: 0 0 10px 3px rgba(0, 0, 0, 0.20); 
}

@layer base {
  h1 {
    font-size: var(--text-6xl);
    font-weight: var(--font-weight-extrabold);
    line-height: var(--text-base--line-height);
    margin: 0;
  }
  h2 {
    font-size: var(--text-4xl);
    font-weight: var(--font-weight-semibold);
    line-height: var(--text-sm--line-height--line-height);
    margin: 0;
  }
  h3 {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-normal);
    line-height: 0;
    margin: 0;
  }
}

@layer components {
  .btn-blue {
    padding-inline: calc(var(--spacing) * 6);
    padding-block: calc(var(--spacing) * 2.5);
    font-size: var(--text-lg);
    color: var(--color-white);
    background-color: var(--color-light-blue);
    border-radius: var(--radius-lg);
    &:hover {
      cursor: pointer;
      background-color: var(--color-dark-blue);
    }
    &:active {
      transform: scale(0.95);
    }
  }
}

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 95px;
}
.icon.blue {
  color: #4589FF;
}
