@import "tailwindcss";

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
}
